*.py[cod]
*.swp

# C extensions
*.so

# Packages
.vagrant
*.egg
*.egg-info
eggs
parts
sdist
develop-eggs
.installed.cfg

# Paths
yum/

/bin/
/chef/
/include/
/lib/
/var/
/dist/
/build/
/private/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.idea
*.iml
chef
src

*~
