#!/usr/bin/env bash

# Install some dependencies
yum -y install tmux vim git-core

# Perform a bunch of actions as zendev user
su - zendev <<EOF

##############
# Set up SSH #
##############

mkdir -p ~/.ssh;

cat <<EOS> /home/zendev/.ssh/config
StrictHostKeyChecking no
EOS

cat <<EOS> /home/zendev/.ssh/authorized_keys
[snip]
EOS

cat <<EOS> /home/zendev/.ssh/id_dsa
[snip]
EOS

cat <<EOS> /home/zendev/.ssh/id_dsa.pub
[snip]
EOS

chmod 700 ~/.ssh && chmod 600 ~/.ssh/*;

#################################################
# Set up dotfiles                               #
# (see http://dotfiles.github.io/ for examples) #
# (I forked http://mths.be/dotfiles)            #
#################################################

if [ ! -d /home/zendev/dotfiles ]; then
    cd /home/zendev && git clone git@github.com:iancmcc/dotfiles;
else
    cd /home/zendev/dotfiles && git pull;
fi;
cd /home/zendev/dotfiles && git submodule init && git submodule update;
/home/zendev/dotfiles/bootstrap.sh -f 2>&1 > /dev/null;

EOF
